<h1>Books</h1>

<table>

  <thead>

    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan = "3"></th>
    </tr>

  </thead>

  <tbody>

    <% @books.each do |book| %>
      <tr>
          <td class="book-body"><%= book.body %></td>
          <td><%= link_to book.title, book_path(book.id) %></td>
          <td>
            <%= link_to "Show", show_book_path(book.id) %>
          </td>
          <td>
            <%= link_to "Edit", edit_book_path(book.id) %>
          </td>
          <td>
            <%= link_to "Destroy", destroy_book_path(book.id), method: :delete, "data-confirm" => "Are you sure？" %>
          </td>
      </tr>
    <% end %>

  </tbody>

</table>


<% if @book.errors.any? %>
  <h4>errors happen</h4>
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<h1>New Book</h1>
<%= form_with model: @book, url:"/books", method: :post do |f| %>
  <h4>title</h4>
  <%= f.text_field :title %>

  <h4>body</h4>
  <%= f.text_area :body %>

  <%= f.submit 'Create Book' %>
<% end %>
